* {
    background-color: pink;
    color: blue;
    text-align: center;
}
#hidden {
    color: red;
}

.poopy {
    color: brown;
}
.pic {
    height:auto;
    width: fit-content;
}
#myscript {
    color: purple;
}
.test1 {
    color: green;
}
.spanpractice {
    color: yellow;
}